<h1>{{model.record.name}}</h1>
<p>{{{model.record.description}}}</p>

{{subscription-btn
  modelId=model.record.id
  isSubscribed=model.record.isSubscribed
}}
{{!--
{{#if model.subscription.id}}
  {{#bs-form action="unSubscribe"}}
    {{bs-button defaultText="Unsubscribe" type="default" buttonType="submit"}}
    {{input name="newsletterId" type="hidden" value=model.record.id}}
  {{/bs-form}}
{{else}}
  {{#bs-form action="subscribe"}}
    {{bs-button defaultText="Subscribe" type="primary" buttonType="submit"}}
    {{input name="newsletterId" type="hidden" value=model.record.id}}
  {{/bs-form}}
{{/if}}
 --}}